<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <!-- <a class="navbar-brand" href="#">Navbar</a> -->
        <img src="../../../assets/images/logo.png" alt="Career Crafter" class='logo' height="60">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse ms-3" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLinkActive='active' routerLink='job/home' aria-current="page">
                        <h5 class="mb-0">Home</h5>
                    </a>
                </li>
                <li class="nav-item" >
                    <a class="nav-link" routerLinkActive='active' routerLink='job/myjobs' >
                        <h5 class="mb-0">Jobs</h5>
                    </a>
                </li>
                <li class="nav-item" *ngIf=""> <!-- *ngIf="isFreelancer" -->
                    <a class="nav-link" routerLinkActive='active' routerLink='/applications'>
                        <h5 class="mb-0">My applications</h5>                        
                    </a>
                </li>
            </ul>
        </div>
        <button class="btn btn-outline-primary me-3" routerLink='../profile' >
            <i class="far fa-user profile-button"></i>
            My Account 
        </button>
        <button  (click)="logout()" class="btn btn-outline-danger me-3">Sign out</button>
    </div>
</nav>